Options -Indexes

# Error
ErrorDocument 404 /errors/404.php
ErrorDocument 403 /errors/error403.php
ErrorDocument 500 /errors/500.php
ErrorDocument 503 /errors/503.php

# Redirect Untuk Directory Yang Tidak Ada
    Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ app [L]